parameters:
    level: max
    paths:
        - src/Boot
        - src/SharedKernel
        - src/Modules/Core/Database
        - src/Modules/Core/Storage
        - src/Modules/Core/Template
        - src/Modules/Core/Language
        - src/Modules/Core/Monitoring
        - src/Modules/Core/Logging
        - src/Modules/Core/Security
        - src/Modules/Core/Session
        - src/Modules/Core/ErrorHandling
        - src/Modules/Optional/Blog
    excludePaths:
        - vendor
        - var
        - tests
        - '*/tests/*'
        - src/Modules/Core/Template/Infrastructure/Engines/TwigTemplateEngine.php
